<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="service" xsi:type="ServiceLogger" />
  </targets>

  <rules>
    <logger name="Quartz.*" maxLevel="Info" final="true" />
    <logger name="Config.*" maxLevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="service" />
  </rules>
</nlog>
