<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="ReportingDirrectory" value=""/>
    <add key="ReportingIntervalInMinutes" value="1"/>
    <add key="TradingSessionStart" value="20:00"/>
  </appSettings>
</configuration>
